apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: ClusterSecretStore
      name: azure-backend
    patch: |-
      - op: replace
        path: /spec/provider/azurekv/tenantId
        value: "PROD_TENANT_ID"
      - op: replace
        path: /spec/provider/azurekv/vaultUrl
        value: "https://kv-tim-prod.vault.azure.net"
  - target:
      kind: ServiceAccount
      name: eso-service-account
    patch: |-
      - op: replace
        path: /metadata/annotations/azure.workload.identity~1client-id
        value: "PROD_CLIENT_ID"
