apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Pointing to the manifests in your application repo
  - https://github.com/tjsullivan1/timstapaper.git/k8s/manifests?ref=main
  - db-creds-sync.yaml

namespace: timstapaper-dev

patches:
  - target:
      kind: Application
      name: web-app # This name comes from your app repo if you added it there, 
                    # but since we are pointing to the folder, we just need to ensure 
                    # we patch the name to match what you want in Argo.
    patch: |-
      - op: replace
        path: /metadata/name
        value: timstapaper-web-app
      - op: replace
        path: /spec/destination/namespace
        value: timstapaper-dev
